accelerate==0.28.0
aiobotocore==2.11.2
aiohttp==3.9.3
aioitertools==0.11.0
aiosignal==1.3.1
anndata==0.10.3
antlr4-python3-runtime==4.9.3
anyio==4.2.0
appdirs==1.4.4
argon2-cffi==23.1.0
argon2-cffi-bindings==21.2.0
array_api_compat==1.4.1
arrow==1.3.0
asgiref==3.7.2
asttokens==2.4.1
async-lru==2.0.4
async-timeout==4.0.3
attridict==0.0.8
attrs==23.2.0
Babel==2.14.0
beautifulsoup4==4.12.3
bio==1.6.2
biomart==0.9.2
bionty==0.42.6
bionty-base==0.37.2
biopython==1.83
biothings-client==0.3.1
bitsandbytes==0.43.0
bleach==6.1.0
botocore==1.34.34
cachetools==5.3.3
cellxgene-census==1.10.2
certifi==2024.2.2
cffi==1.16.0
chardet==5.2.0
charset-normalizer==3.3.2
click==8.1.7
cmake==3.28.3
comm==0.2.1
contourpy==1.2.0
cycler==0.12.1
datasets==2.18.0
debugpy==1.8.1
decorator==5.1.1
decoupler==1.5.0
defusedxml==0.7.1
Deprecated==1.2.14
deprecation==2.1.0
dill==0.3.8
dj-database-url==2.1.0
Django==5.0.2
docker-pycreds==0.4.0
docstring-parser==0.15
einops==0.7.0
evaluate==0.4.1
exceptiongroup==1.2.0
executing==2.0.1
git+https://github.com/facebookresearch/esm.git@2b369911bb5b4b0dda914521b9475cad1656b2ac
fastjsonschema==2.19.1
fastobo==0.12.3
filelock==3.13.1
fonttools==4.49.0
fqdn==1.5.1
frozenlist==1.4.1
fsspec==2024.2.0
git+https://github.com/jiaweizzhao/GaLore@a6bc1650984b1c090a4e108d7c0e3109ee7ad844#egg=galore_torch
gget==0.28.4
gitdb==4.0.11
GitPython==3.1.42
gotrue==2.1.0
gprofiler-official==1.0.0
graphviz==0.20.1
gseapy==1.1.1
h11==0.14.0
h5py==3.10.0
httpcore==0.17.3
httpx==0.24.1
huggingface-hub==0.20.3
hydra-core==1.3.2
idna==3.6
igraph==0.11.4
importlib-resources==6.1.1
ipykernel==6.29.2
ipython==8.21.0
ipywidgets==8.1.2
isoduration==20.11.0
jedi==0.19.1
Jinja2==3.1.3
jmespath==1.0.1
joblib==1.3.2
json5==0.9.17
jsonargparse==4.27.5
jsonpointer==2.4
jsonschema==4.21.1
jsonschema-specifications==2023.12.1
jupyter==1.0.0
jupyter-console==6.6.3
jupyter-events==0.9.0
jupyter-lsp==2.2.3
jupyter_client==8.6.0
jupyter_core==5.7.1
jupyter_server==2.12.5
jupyter_server_terminals==0.5.2
jupyterlab==4.1.2
jupyterlab_pygments==0.3.0
jupyterlab_server==2.25.3
jupyterlab_widgets==3.0.10
kiwisolver==1.4.5
lamin_cli==0.12.1
lamin_utils==0.13.1
lamindb==0.69.9
lamindb_setup==0.69.0
leidenalg==0.10.2
lightning==2.2.0.post0
lightning-utilities==0.10.1
lion-pytorch==0.1.2
lit==17.0.6
llvmlite==0.42.0
lnschema_bionty==0.41.7
lnschema_core==0.64.6
loguru==0.7.2
lxml==5.1.0
markdown-it-py==3.0.0
MarkupSafe==2.1.5
matplotlib==3.8.3
matplotlib-inline==0.1.6
mdurl==0.1.2
mistune==3.0.2
mpmath==1.3.0
multidict==6.0.5
multiprocess==0.70.16
mygene==3.2.2
mysql-connector-python==8.0.29
natsort==8.4.0
nbclient==0.9.0
nbconvert==7.16.1
nbformat==5.9.2
nest-asyncio==1.6.0
networkx==3.2.1
notebook==7.1.1
notebook_shim==0.2.4
numba==0.59.0
numpy==1.26.4
nvidia-cublas-cu11==11.10.3.66
nvidia-cuda-cupti-cu11==11.7.101
nvidia-cuda-cupti-cu12==12.1.105
nvidia-cuda-nvrtc-cu11==11.7.99
nvidia-cuda-nvrtc-cu12==12.1.105
nvidia-cuda-runtime-cu11==11.7.99
nvidia-cuda-runtime-cu12==12.1.105
nvidia-cudnn-cu11==8.5.0.96
nvidia-cufft-cu11==10.9.0.58
nvidia-cufft-cu12==11.0.2.54
nvidia-curand-cu11==10.2.10.91
nvidia-curand-cu12==10.3.2.106
nvidia-cusolver-cu11==11.4.0.1
nvidia-cusparse-cu11==11.7.4.91
nvidia-ml-py==12.535.133
nvidia-nccl-cu11==2.14.3
nvidia-nccl-cu12==2.19.3
nvidia-nvjitlink-cu12==12.3.101
nvidia-nvtx-cu11==11.7.91
nvidia-nvtx-cu12==12.1.105
nvitop==1.3.2
omegaconf==2.3.0
overrides==7.7.0
owlready2==0.45
packaging==23.2
pandas==2.2.0
pandocfilters==1.5.1
parso==0.8.3
patsy==0.5.6
peft==0.9.0
pexpect==4.9.0
pillow==10.2.0
platformdirs==4.2.0
pooch==1.8.0
postgrest==0.13.2
prometheus_client==0.20.0
prompt-toolkit==3.0.43
pronto==2.5.5
protobuf==4.25.3
psutil==5.9.8
psycopg2-binary==2.9.9
ptyprocess==0.7.0
pure-eval==0.2.2
pyarrow==15.0.0
pyarrow-hotfix==0.6
pycparser==2.21
pydantic==1.10.14
pydot==2.0.0
Pygments==2.17.2
pynndescent==0.5.11
pyparsing==3.1.1
python-dateutil==2.8.2
python-dotenv==1.0.1
python-json-logger==2.0.7
pytorch-fast-transformers==0.4.0
pytorch-lightning==2.2.0.post0
pytz==2024.1
PyYAML==6.0.1
pyzmq==25.1.2
qtconsole==5.5.1
QtPy==2.4.1
rapidfuzz==3.6.1
realtime==1.0.2
referencing==0.33.0
regex==2023.12.25
requests==2.31.0
responses==0.18.0
rfc3339-validator==0.1.4
rfc3986-validator==0.1.1
rich==13.7.0
rich-click==1.7.3
rpds-py==0.18.0
s3fs==2024.2.0
safetensors==0.4.2
scanpy==1.9.8
git+https://github.com/jkobject/scDataLoader@33184c502c5c9979dea4a1131f3ddec494b84b0b#egg=scdataloader&subdirectory=../../scDataLoader
scib==1.1.4
scikit-learn==1.4.1.post1
scikit-misc==0.3.1
scipy==1.12.0
seaborn==0.13.2
Send2Trash==1.8.2
sentry-sdk==1.40.4
session-info==1.0.0
setproctitle==1.3.3
six==1.16.0
smmap==5.0.1
sniffio==1.3.0
somacore==1.0.7
soupsieve==2.5
sqlparse==0.4.4
stack-data==0.6.3
statsmodels==0.14.1
stdlib-list==0.10.0
storage3==0.7.0
StrEnum==0.4.15
supabase==2.2.1
supafunc==0.3.3
sympy==1.12
tensorboardX==2.6.2.2
termcolor==2.4.0
terminado==0.18.0
texttable==1.7.0
threadpoolctl==3.3.0
tiledb==0.25.0
tiledbsoma==1.7.1
tinycss2==1.2.1
tokenizers==0.13.3
tomli==2.0.1
torch==2.0.0
torchaudio==2.0.1
torchdata==0.6.0
torchmetrics==1.3.1
torchtext==0.15.1
torchvision==0.15.1
tornado==6.4
tqdm==4.66.2
traitlets==5.14.1
transformers==4.31.0
triton==2.0.0.dev20221202
types-python-dateutil==2.8.19.20240106
typeshed-client==2.4.0
typing_extensions==4.9.0
tzdata==2024.1
umap-learn==0.5.5
universal-pathlib==0.1.4
uri-template==1.3.0
urllib3==2.0.7
wandb==0.16.3
wcwidth==0.2.13
webcolors==1.13
webencodings==0.5.1
websocket-client==1.7.0
websockets==11.0.3
widgetsnbextension==4.0.10
wrapt==1.16.0
xxhash==3.4.1
yarl==1.9.4
